body {
  width: 1200px;
  margin: 0 auto;
  background-color: rgb(192, 192, 192);
  font-family: 'Open Sans', sans-serif;
}

#booster-packs-section {
  background-color: rgba(255, 255, 255, 0.2);
}

.booster-pack-tile {
  width: 150px;
  height: 200px;
  background-color: blue;
  overflow: hidden;
  display: inline-block;
  text-align: center;
}

.booster-pack-icon {
  width: 107px;
  height: 150px;
}
