body {
  width: 1000px;
  margin: 0 auto;
  background-image: url('confrontation.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 135%;
  background-color: rgb(243, 243, 243);
  font-family: 'Open Sans', sans-serif;
}

html {
  overflow-y: scroll;
}

header {
  height: 100px;
  width: 1000px;
  background-color: rgb(40, 40, 40);
  position: fixed;
}

#card-count-section {
  float: right;
  color: white;
}

.deck-column-1-of-4,
.deck-column-2-of-4,
.deck-column-3-of-4,
.deck-column-4-of-4 {
  width: 90px;
  float: left;
  text-align: center;
}

#booster-packs-section {
  padding: 120px 30px 30px;
  width: 940px;
  background-color: rgb(255, 255, 255);
}

.booster-pack-icon {
  width: 170px;
  height: 340px;
}

.button-tiles {
  margin: 2px;
  padding: 5px;
  background-color: white;
}

.pack-title {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

.pack-selected {
  margin: 2px;
  padding: 5px;
  background-color: deepskyblue;
}

#confirm {
  position: relative;
  left: 65px;
  bottom: 30px;
  width: 130px;
  font-size: 16px;
  color: white;
  padding: 10px;
  background-color: Blue;
}

#return-bp-section {
  position: relative;
  left: 65px;
  bottom: 30px;
  width: 130px;
  font-size: 16px;
  color: white;
  padding: 10px;
  background-color: red;
}

#view-deck {
  position: relative;
  left: 65px;
  bottom: 30px;
  width: 130px;
  font-size: 16px;
  color: white;
  padding: 10px;
  background-color: green;
}

#view-card {
  position: relative;
  left: 200px;
  bottom: 30px;
  width: 130px;
  font-size: 16px;
  color: white;
  padding: 10px;
  background-color: green;
}

#display-packs-selected {
  padding-top: 110px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  background-color: rgb(255, 255, 255);
}

#card-list-section {
  background-color: rgb(255, 255, 255);
}

.card-preview {
  width: 80px;
  height: 80px;
}

.preview-padding {
  padding: 0;
}

table,
th,
td {
  border: 2px solid black;
  padding: 0;
}

table {
  border-collapse: collapse;
  width: 1000px;
}

th {
  font-size: 24px;
}

td {
  font-size: 20px;
  line-height: 10px;
  padding: 5px;
}

#card-illustration {
  width: 80px;
}

#card-numbers {
  width: 180px;
}

#card-types {
  width: 150px;
}

#color {
  width: 90px;
}

.yellow-card {
  text-align: center;
  background-color: rgb(255, 223, 0);
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  color: white;
}

.red-card {
  text-align: center;
  background-color: red;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  color: white;
}

.blue-card {
  text-align: center;
  background-color: blue;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  color: white;
}

.green-card {
  text-align: center;
  background-color: green;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  color: white;
}

.hidden {
  display: none;
}

#deck-list-section {
  margin: 0;
  padding: 100px 20px 20px;
  background-color: rgb(255, 255, 255);
}

.full-card-illustration {
  width: 220px;
  height: 308px;
}

.full-climax-card-illustration {
  width: 308px;
  height: 220px;
}

.card-icons {
  display: inline-block;
  width: 220px;
  height: 360px;
  margin: 1px;
  padding: 7px;
  background-color: white;
  box-shadow: 0 3px 5px black;
  text-align: center;
}

.climax-card-icons {
  display: inline-block;
  width: 308;
  height: 270px;
  margin: 1px;
  padding: 7px;
  background-color: white;
  box-shadow: 0 3px 5px black;
  text-align: center;
}

.card-title {
  margin: 0;
  font-size: 14px;
}

.select-bar {
  margin-top: 3px;
  height: 25px;
  width: 50px;
  font-size: 15px;
}

.deck-headers {
  border-bottom: ridge;
}
