body {
  width: 1200px;
  margin: 0 auto;
  background-color: rgb(243, 243, 243);
  font-family: 'Open Sans', sans-serif;
}

header {
  width: 1200px;
  background-color: rgb(20, 20, 20);
  position: fixed;
}

#booster-packs-section {
  clear: both;
  width: 1140px;
  padding: 30px;
  background-color: rgb(255, 255, 255);
}

.booster-pack-icon {
  width: 200px;
  height: 400px;
}

.button-tiles {
  margin: 2px;
  padding: 10px;
  background-color: white;
}

.pack-title {
  margin: 0;
  font-size: 20px;
}

.pack-selected {
  margin: 2px;
  padding: 10px;
  background-color: deepskyblue;
}

#confirm {
  margin-top: 100px;
  margin-left: 540px;
  width: 125px;
  font-size: 20px;
  color: white;
  margin-bottom: 10;
  padding: 10px;
  background-color: Blue;
}

#return-bp-section {
  margin-left: 540px;
  margin-top: 100px;
  width: 125px;
  font-size: 20px;
  color: white;
  margin-bottom: 10;
  padding: 10px;
  background-color: red;
}

#card-list-section {
  background-color: rgb(255, 255, 255);
}

.card-preview {
  width: 80px;
  height: 80px;
}

.preview-padding {
  padding: 0;
}

table,
th,
td {
  border: 2px solid black;
  padding: 0;
}

table {
  border-collapse: collapse;
  width: 1200px;
}

th {
  font-size: 24px;
}

td {
  font-size: 20px;
  line-height: 10px;
  padding: 5px;
}

#card-illustration {
  width: 80px;
}

#card-numbers {
  width: 180px;
}

#card-types {
  width: 150px;
}

#color {
  width: 90px;
}

.yellow-card {
  text-align: center;
  background-color: rgb(255, 223, 0);
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  color: white;
}

.red-card {
  text-align: center;
  background-color: red;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  color: white;
}

.blue-card {
  text-align: center;
  background-color: blue;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  color: white;
}

.green-card {
  text-align: center;
  background-color: green;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  color: white;
}

.hidden {
  display: none;
}
